* {
  margin: 0px;
  padding: 0px; }

.navbar {
  background-color: rgba(255, 188, 5, 0.438) !important;
  width: 100%; }

.navbar-collapse {
  justify-content: space-around !important; }

a {
  font-size: 20px;
  padding-right: 80px !important; }
  a:hover {
    font-weight: 700;
    color: black !important;
    transition: ease-in-out 0.2s;
    padding: 14px; }

.presentacion {
  padding: 180px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center; }

.introduccion {
  font-weight: 300;
  font-size: 18px;
  text-align: left;
  padding: 45px; }

.logo {
  transform: scale(0.8);
  padding-left: 90px; }

.nosotros {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 25px;
  margin-bottom: 360px;
  list-style: none; }

section h2, section #servicios h3, #servicios section h3 {
  margin-bottom: 125px;
  padding: 70px; }

#servicios {
  padding-top: 180px; }
  #servicios h2, #servicios h3 {
    margin-bottom: 25px;
    padding: 70px; }
  #servicios p {
    font-weight: 300;
    font-size: 20px;
    text-align: center; }

.displayGrid {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: 250px 250px;
  margin-left: 450px;
  margin-top: 140px; }

.contacto {
  padding-left: 25px;
  width: 50%; }

label {
  font-weight: 500;
  font-size: 18px;
  padding: 25px; }

.email {
  padding-top: 80px; }

.consulta {
  padding-top: 45px; }

.enviar {
  padding-top: 75px; }

.footerFlex {
  font-weight: 500;
  width: 100%;
  height: 360px;
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa; }
  .footerFlex p {
    text-align: right;
    padding-right: 25px; }
  .footerFlex h1 {
    text-align: left;
    padding-left: 25px; }

@media (max-width: 1600px) {
  .presentacion {
    padding-top: 60px;
    display: flex;
    align-content: center;
    align-items: center; }
  .introduccion {
    font-size: 14px;
    font-weight: 200;
    padding: 0px;
    text-align: left; }
  .logo {
    transform: scale(0.9);
    width: 100%; }
  .nosotros {
    transform: scale(0.7);
    justify-content: space-evenly; }
    .nosotros div {
      margin: 45px; }
  .displayGrid {
    width: 100%;
    transform: scale(0.6);
    grid-template-columns: 100%;
    grid-template-rows: 40% 40% 40% 40%;
    margin-left: 250px;
    margin-top: 20px; }
  #servicios h1 {
    padding: 80px; } }

@media (max-width: 1025px) {
  .isologo {
    display: none; }
  .nosotros {
    flex-direction: column; }
  .displayGrid {
    width: 100%;
    transform: scale(0.6);
    grid-template-columns: 100%;
    grid-template-rows: 40% 40% 40% 40%;
    margin-left: 150px;
    margin-top: 20px; }
  #servicios {
    width: 100%; }
    #servicios h1 {
      padding: 10px; } }

@media (max-width: 391px) {
  .isologo {
    display: none; }
  .presentacion {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center; }
  .introduccion {
    font-size: 14px;
    font-weight: 200;
    padding: 0px;
    text-align: left; }
  .logo {
    transform: scale(0.9);
    width: 100%; }
  .nosotros {
    height: 900px;
    transform: scale(0.5);
    flex-direction: column !important;
    margin-top: 70px; }
  .displayGrid {
    width: 100%;
    transform: scale(0.4);
    grid-template-columns: 100%;
    grid-template-rows: 40% 40% 40% 40%;
    margin-left: -30px;
    margin-top: 20px; }
  #servicios h1 {
    padding: 80px; } }
