.contacto {
	padding-left: 25px;
	width: 50%;
}
label {
	font-weight: 500;
	font-size: 18px;
	padding: 25px;
}
.email {
	padding-top: 80px;
}
.consulta {
	padding-top: 45px;
}
.enviar {
	padding-top: 75px;
}
