.presentacion {
	padding: 180px;
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
}
.introduccion {
	font-weight: 300;
	font-size: 18px;
	text-align: left;
	padding: 45px;
}

.logo{
	transform: scale(0.8);
	padding-left: 90px;
}