.presentacion {
	padding: 35px;
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
}
.introduccion {
	font-weight: 600;
	font-size: 20px;
	text-align: left;
	padding: 45px;
}
