.nosotros {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	padding-bottom: 100px;
	list-style: none;
}
section {
	h1 {
		padding-top: 100px;
		padding-bottom: 85px;
	}
}
