@mixin flex-row-center{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.nosotros {
	@include flex-row-center;
	width: 100%;
	padding: 25px;
	margin-bottom: 360px;
	list-style: none;
	
}
section {
	h2 {
		margin-bottom: 125px;
		padding:70px;
	}
}
